<div class="container-fluid">
  <div class="row m-2 justify-content-center bg-info rounded">
    <input class="col-lg-5 m-3" type="text"  #searchValueRef name="searchTerm" placeholder="Search">
    <select class="col-lg-3 m-3 " type="text" [(ngModel)]="searchBy" name="searchBy">
      <option value="firstName" selected>First name</option>
      <option value="lastName">Last Name</option>
      <option value="phoneNumber">Phone Number</option>
    </select>
    <button class="col-lg-2 m-3 btn btn-primary" (click)="search(searchValueRef)">Search</button>
  </div>
</div>
<table class="table table-hover">

    <thead>

        <tr class="table-primary">
  
          <th (click)="sort('firstName')" scope="col">First Name &nbsp; 
            <span *ngIf="sortColumn=='firstName' && sortOrder=='asc'">↑</span> &nbsp; 
            <span *ngIf="sortColumn=='firstName' && sortOrder=='desc'">↓</span>
          </th>
  
          <th (click)="sort('lastName')" scope="col">Last Name &nbsp; 
            <span *ngIf="sortColumn=='lastName' && sortOrder=='asc'">↑</span> &nbsp;
             <span *ngIf="sortColumn=='lastName' && sortOrder=='desc'">↓</span>
          </th>
  
          <th scope="col">Designation</th>
  
          <th (click)="sort('dateOfBirth')" scope="col">Date Of Birth  &nbsp; 
            <span *ngIf="sortColumn=='dateOfBirth' && sortOrder=='asc'">↑</span> &nbsp; 
            <span *ngIf="sortColumn=='dateOfBirth' && sortOrder=='desc'">↓</span>
          </th>
  
          <th (click)="sort('phoneNumber')" scope="col">Phone Number  &nbsp; 
            <span *ngIf="sortColumn=='phoneNumber' && sortOrder=='asc'">↑</span> &nbsp; 
            <span *ngIf="sortColumn=='phoneNumber' && sortOrder=='desc'">↓</span>
          </th>
  
          <th scope="col">Address</th>
  
          <th scope="col">City</th>

          <th scope="col">Country</th>

          <th scope="col">Options</th>
  
        </tr>
  
      </thead>

    <tbody>

        <tr *ngFor="let employee of (employeeList  | sort:sortColumn:sortOrder | search:searchTerm:searchBy | async)">

            <td>{{employee.firstName}} &nbsp;</td>

            <td>{{employee.lastName}} &nbsp;</td>

            <td>{{employee.designation}} &nbsp;</td>

            <td>{{employee.dateOfBirth}} &nbsp;</td>

            <td>{{employee.phoneNumber}} &nbsp;</td>

            <td>{{employee.address}} &nbsp;</td>

            <td>{{employee.city}} &nbsp;</td>

            <td>{{employee.country}} &nbsp;</td>

            <td>

              <button  (click)="editEmployee(employee)" class="btn btn-info" type="button">Edit</button>

              <button (click)="deleteEmployee(employee?.id)" class="btn btn-danger mx-3">Delete</button>

            </td>

        </tr>

      </tbody>

</table>
